
<div class="jumbotron">
<div class="container">
<h1>Facebook on Rails</h1>
<p>Welcome to the app</p>

<div class="progress">

    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%;"></div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%;"></div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 10%;"></div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 40%;"></div>

</div>
</div>
</div>

<div class="container">
<div class="row">
	<div class="col-md-12">
	<h3>How it works</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Connect with Facebook</h3>
		<p>Login or Sign-up with Facebook</p>
	</div>
	<div class="col-md-4">
		<h3>Post new content</h3>
		<p>Post new content to your followers</p>
	</div>
	<div class="col-md-4">
		
		<h3>Share them</h3>
		<p>Share your posts</p>

	</div>
	
</div>

</div>